@import "../../theme/variables";

.button {
  background-color: $color-primary;
  color: white;
  padding: $spacing-unit $spacing-unit * 2;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: 500;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  height: 40px;
  max-height: 40px;
  &:hover {
    background-color: darken($color-primary, 10%);
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
  }
  &:active {
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.1rem 0.3rem inset;
  }
}

.outlined {
  background-color: white;
  color: $color-primary;
  padding: $spacing-unit $spacing-unit * 2;
  border: 0.05rem solid;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: 500;
  height: 40px;
  max-height: 40px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
  }
  &:active {
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.1rem 0.3rem inset;
  }
}

.text {
  background-color: white;
  color: $color-primary;
  padding: $spacing-unit $spacing-unit * 2;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: 500;
  height: 40px;
  max-height: 40px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
  }
  &:active {
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.1rem 0.3rem inset;
  }
}

.disabled {
  pointer-events: none;
  background-color: $color-grey;
}

.content {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  display: inline-flex;
  svg {
    width: 1rem;
    height: 1rem;
  }
}
